<footer class='bg-accent mg-t-18'>
    <div class="row flex-jc-center">
        <div class="col-10 flex-ai-center">
            <p>Like what I do? Donate some ISK to <span class='color-theme'><a href="/credits">IAmSalt Salty</a></span>!</p>
        </div>
    </div>
</footer>