<nav class="nav-top bg-accent">
    <h3>AtherActive - EVE</h3>
    <ul>
        <li><a href="/"><span>Home</span></a></li>
        <li>
            <a href="javascript:void()"><span>Wormholes <i class='bx bxs-down-arrow'></i></span></a>
            <ul class='bg-accent'>
                <li><a href="/rolling"><span>Rolling</span></a></li>
            </ul>
        </li>
        <li><a href="javascript:void()">
                <span>Utils <i class='bx bxs-down-arrow'></i></span>
            </a>
            <ul class='bg-accent'>
                <li><a href="/credits"><span>Credits</span></a></li>
                <li><a href=""><span>Source</span></a></li>
                <li><a href=""><span>Atherdev</span></a></li>
            </ul>
        </li>
        <li class='flex'>
            <form action="/rolling/wh" method="get" class='search flex flex-jc-center flex-ac-center'>
                <input type="text" name='wormhole' class='searchbox bg-background color-txt-white' placeholder='wormhole type..'>
            </form>
        </li>
    </ul>
    <a href="javascript:toggleMobileMenu()" class="nav-hamburger"><i class="bx bx-menu txt-align-center"></i></a>
</nav>