/* COLORS */
/* COMPONENTS */
/* COLORS */
/* COMPONENTS */
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
.col,
[class^='col-'],
[class^=' col-'] {
  display: flex;
  flex-direction: column; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.container,
[class^='container-'],
[class^=' container-'] {
  display: block;
  width: 100%;
  padding: none;
  margin: auto; }


.col-0 {
  width: calc(100%/Infinity); }


.container-0 {
  width: calc(100%/Infinity); }

@media screen and (max-width: 320px) {
  
  .col-xs-0 {
    width: calc(100%/Infinity) !important; } }

@media screen and (max-width: 576px) {
  
  .col-s-0 {
    width: calc(100%/Infinity) !important; } }

@media screen and (max-width: 768px) {
  
  .col-m-0 {
    width: calc(100%/Infinity) !important; } }

@media screen and (max-width: 992px) {
  
  .col-l-0 {
    width: calc(100%/Infinity) !important; } }

@media screen and (max-width: 1200px) {
  
  .col-xl-0 {
    width: calc(100%/Infinity) !important; } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-0 {
    width: calc(100%/Infinity) !important; } }


.col-1 {
  width: calc(100%/12); }


.container-1 {
  width: calc(100%/12); }

@media screen and (max-width: 320px) {
  
  .col-xs-1 {
    width: calc(100%/12) !important; } }

@media screen and (max-width: 576px) {
  
  .col-s-1 {
    width: calc(100%/12) !important; } }

@media screen and (max-width: 768px) {
  
  .col-m-1 {
    width: calc(100%/12) !important; } }

@media screen and (max-width: 992px) {
  
  .col-l-1 {
    width: calc(100%/12) !important; } }

@media screen and (max-width: 1200px) {
  
  .col-xl-1 {
    width: calc(100%/12) !important; } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-1 {
    width: calc(100%/12) !important; } }


.col-2 {
  width: calc(100%/6); }


.container-2 {
  width: calc(100%/6); }

@media screen and (max-width: 320px) {
  
  .col-xs-2 {
    width: calc(100%/6) !important; } }

@media screen and (max-width: 576px) {
  
  .col-s-2 {
    width: calc(100%/6) !important; } }

@media screen and (max-width: 768px) {
  
  .col-m-2 {
    width: calc(100%/6) !important; } }

@media screen and (max-width: 992px) {
  
  .col-l-2 {
    width: calc(100%/6) !important; } }

@media screen and (max-width: 1200px) {
  
  .col-xl-2 {
    width: calc(100%/6) !important; } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-2 {
    width: calc(100%/6) !important; } }


.col-3 {
  width: calc(100%/4); }


.container-3 {
  width: calc(100%/4); }

@media screen and (max-width: 320px) {
  
  .col-xs-3 {
    width: calc(100%/4) !important; } }

@media screen and (max-width: 576px) {
  
  .col-s-3 {
    width: calc(100%/4) !important; } }

@media screen and (max-width: 768px) {
  
  .col-m-3 {
    width: calc(100%/4) !important; } }

@media screen and (max-width: 992px) {
  
  .col-l-3 {
    width: calc(100%/4) !important; } }

@media screen and (max-width: 1200px) {
  
  .col-xl-3 {
    width: calc(100%/4) !important; } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-3 {
    width: calc(100%/4) !important; } }


.col-4 {
  width: calc(100%/3); }


.container-4 {
  width: calc(100%/3); }

@media screen and (max-width: 320px) {
  
  .col-xs-4 {
    width: calc(100%/3) !important; } }

@media screen and (max-width: 576px) {
  
  .col-s-4 {
    width: calc(100%/3) !important; } }

@media screen and (max-width: 768px) {
  
  .col-m-4 {
    width: calc(100%/3) !important; } }

@media screen and (max-width: 992px) {
  
  .col-l-4 {
    width: calc(100%/3) !important; } }

@media screen and (max-width: 1200px) {
  
  .col-xl-4 {
    width: calc(100%/3) !important; } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-4 {
    width: calc(100%/3) !important; } }


.col-5 {
  width: calc(100%/2.4); }


.container-5 {
  width: calc(100%/2.4); }

@media screen and (max-width: 320px) {
  
  .col-xs-5 {
    width: calc(100%/2.4) !important; } }

@media screen and (max-width: 576px) {
  
  .col-s-5 {
    width: calc(100%/2.4) !important; } }

@media screen and (max-width: 768px) {
  
  .col-m-5 {
    width: calc(100%/2.4) !important; } }

@media screen and (max-width: 992px) {
  
  .col-l-5 {
    width: calc(100%/2.4) !important; } }

@media screen and (max-width: 1200px) {
  
  .col-xl-5 {
    width: calc(100%/2.4) !important; } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-5 {
    width: calc(100%/2.4) !important; } }


.col-6 {
  width: calc(100%/2); }


.container-6 {
  width: calc(100%/2); }

@media screen and (max-width: 320px) {
  
  .col-xs-6 {
    width: calc(100%/2) !important; } }

@media screen and (max-width: 576px) {
  
  .col-s-6 {
    width: calc(100%/2) !important; } }

@media screen and (max-width: 768px) {
  
  .col-m-6 {
    width: calc(100%/2) !important; } }

@media screen and (max-width: 992px) {
  
  .col-l-6 {
    width: calc(100%/2) !important; } }

@media screen and (max-width: 1200px) {
  
  .col-xl-6 {
    width: calc(100%/2) !important; } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-6 {
    width: calc(100%/2) !important; } }


.col-7 {
  width: calc(100%/1.71429); }


.container-7 {
  width: calc(100%/1.71429); }

@media screen and (max-width: 320px) {
  
  .col-xs-7 {
    width: calc(100%/1.71429) !important; } }

@media screen and (max-width: 576px) {
  
  .col-s-7 {
    width: calc(100%/1.71429) !important; } }

@media screen and (max-width: 768px) {
  
  .col-m-7 {
    width: calc(100%/1.71429) !important; } }

@media screen and (max-width: 992px) {
  
  .col-l-7 {
    width: calc(100%/1.71429) !important; } }

@media screen and (max-width: 1200px) {
  
  .col-xl-7 {
    width: calc(100%/1.71429) !important; } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-7 {
    width: calc(100%/1.71429) !important; } }


.col-8 {
  width: calc(100%/1.5); }


.container-8 {
  width: calc(100%/1.5); }

@media screen and (max-width: 320px) {
  
  .col-xs-8 {
    width: calc(100%/1.5) !important; } }

@media screen and (max-width: 576px) {
  
  .col-s-8 {
    width: calc(100%/1.5) !important; } }

@media screen and (max-width: 768px) {
  
  .col-m-8 {
    width: calc(100%/1.5) !important; } }

@media screen and (max-width: 992px) {
  
  .col-l-8 {
    width: calc(100%/1.5) !important; } }

@media screen and (max-width: 1200px) {
  
  .col-xl-8 {
    width: calc(100%/1.5) !important; } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-8 {
    width: calc(100%/1.5) !important; } }


.col-9 {
  width: calc(100%/1.33333); }


.container-9 {
  width: calc(100%/1.33333); }

@media screen and (max-width: 320px) {
  
  .col-xs-9 {
    width: calc(100%/1.33333) !important; } }

@media screen and (max-width: 576px) {
  
  .col-s-9 {
    width: calc(100%/1.33333) !important; } }

@media screen and (max-width: 768px) {
  
  .col-m-9 {
    width: calc(100%/1.33333) !important; } }

@media screen and (max-width: 992px) {
  
  .col-l-9 {
    width: calc(100%/1.33333) !important; } }

@media screen and (max-width: 1200px) {
  
  .col-xl-9 {
    width: calc(100%/1.33333) !important; } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-9 {
    width: calc(100%/1.33333) !important; } }


.col-10 {
  width: calc(100%/1.2); }


.container-10 {
  width: calc(100%/1.2); }

@media screen and (max-width: 320px) {
  
  .col-xs-10 {
    width: calc(100%/1.2) !important; } }

@media screen and (max-width: 576px) {
  
  .col-s-10 {
    width: calc(100%/1.2) !important; } }

@media screen and (max-width: 768px) {
  
  .col-m-10 {
    width: calc(100%/1.2) !important; } }

@media screen and (max-width: 992px) {
  
  .col-l-10 {
    width: calc(100%/1.2) !important; } }

@media screen and (max-width: 1200px) {
  
  .col-xl-10 {
    width: calc(100%/1.2) !important; } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-10 {
    width: calc(100%/1.2) !important; } }


.col-11 {
  width: calc(100%/1.09091); }


.container-11 {
  width: calc(100%/1.09091); }

@media screen and (max-width: 320px) {
  
  .col-xs-11 {
    width: calc(100%/1.09091) !important; } }

@media screen and (max-width: 576px) {
  
  .col-s-11 {
    width: calc(100%/1.09091) !important; } }

@media screen and (max-width: 768px) {
  
  .col-m-11 {
    width: calc(100%/1.09091) !important; } }

@media screen and (max-width: 992px) {
  
  .col-l-11 {
    width: calc(100%/1.09091) !important; } }

@media screen and (max-width: 1200px) {
  
  .col-xl-11 {
    width: calc(100%/1.09091) !important; } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-11 {
    width: calc(100%/1.09091) !important; } }


.col-12 {
  width: calc(100%/1); }


.container-12 {
  width: calc(100%/1); }

@media screen and (max-width: 320px) {
  
  .col-xs-12 {
    width: calc(100%/1) !important; } }

@media screen and (max-width: 576px) {
  
  .col-s-12 {
    width: calc(100%/1) !important; } }

@media screen and (max-width: 768px) {
  
  .col-m-12 {
    width: calc(100%/1) !important; } }

@media screen and (max-width: 992px) {
  
  .col-l-12 {
    width: calc(100%/1) !important; } }

@media screen and (max-width: 1200px) {
  
  .col-xl-12 {
    width: calc(100%/1) !important; } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-12 {
    width: calc(100%/1) !important; } }

.flex {
  display: flex; }
  .flex-fd-ror {
    flex-direction: row-reverse; }
  .flex-fd-col {
    flex-direction: column; }
  .flex-fd-colr {
    flex-direction: column-reverse; }
  .flex-jc-start {
    justify-content: flex-start; }
  .flex-jc-end {
    justify-content: flex-end; }
  .flex-jc-center, nav > ul li,
  nav ul > li > ul li, nav .nav-siteinfo {
    justify-content: center; }
  .flex-jc-between {
    justify-content: space-between; }
  .flex-jc-around, nav.nav-top, nav > ul,
  nav ul > li > ul {
    justify-content: space-around; }
  .flex-jc-evenly {
    justify-content: space-evenly; }
  .flex-js-initial {
    justify-content: inherit; }
  .flex-ac-start {
    align-content: flex-start; }
  .flex-ac-end {
    align-content: flex-end; }
  .flex-ac-center {
    align-content: center; }
  .flex-ac-between {
    align-content: space-between; }
  .flex-ac-around {
    align-content: space-around; }
  .flex-ac-evenly {
    align-content: space-evenly; }
  .flex-ac-initial {
    align-content: inherit; }
  .flex-ac-stretch {
    align-content: stretch; }
  .flex-ai-start {
    align-items: flex-start; }
  .flex-ai-end {
    align-items: flex-end; }
  .flex-ai-center, nav > ul li,
  nav ul > li > ul li, nav .nav-siteinfo {
    align-items: center; }
  .flex-ai-initial {
    align-items: inherit; }
  .flex-ai-stretch {
    align-items: stretch; }
  .flex-ai-base {
    align-items: baseline; }

/* COLORS */
/* COMPONENTS */
.color-theme {
  color: #00A676; }

.color-accent {
  color: #1D1618; }

.color-background {
  color: #0e0b0c; }

.color-txt-normal {
  color: #d8d8d8; }

.color-txt-white {
  color: white; }

.color-txt-accent {
  color: #00A676; }

.bg-theme {
  background-color: #00A676; }

.bg-accent {
  background-color: #1D1618; }

.bg-background {
  background-color: #0e0b0c; }

.hover-underline:hover {
  text-decoration: underline; }

.hover-brighten:hover {
  backdrop-filter: brightness(1.4); }

.transition-1, nav > ul,
nav ul > li > ul {
  transition: 0.2s all ease; }

.transition-2 {
  transition: 0.4s all ease; }

.transition-3 {
  transition: 0.6s all ease; }

.transition-4 {
  transition: 0.8s all ease; }

.transition-5 {
  transition: 1s all ease; }

.transition-6 {
  transition: 1.2s all ease; }

.transition-7 {
  transition: 1.4s all ease; }

.transition-8 {
  transition: 1.6s all ease; }

.transition-9 {
  transition: 1.8s all ease; }

.pd-2 {
  padding: 0.2rem; }

.pd-l-2 {
  padding-left: 0.2rem; }

.pd-r-2 {
  padding-right: 0.2rem; }

.pd-t-2 {
  padding-top: 0.2rem; }

.pd-b-2 {
  padding-bottom: 0.2rem; }

.pd-4 {
  padding: 0.4rem; }

.pd-l-4 {
  padding-left: 0.4rem; }

.pd-r-4 {
  padding-right: 0.4rem; }

.pd-t-4 {
  padding-top: 0.4rem; }

.pd-b-4 {
  padding-bottom: 0.4rem; }

.pd-6 {
  padding: 0.6rem; }

.pd-l-6 {
  padding-left: 0.6rem; }

.pd-r-6 {
  padding-right: 0.6rem; }

.pd-t-6 {
  padding-top: 0.6rem; }

.pd-b-6 {
  padding-bottom: 0.6rem; }

.pd-8 {
  padding: 0.8rem; }

.pd-l-8 {
  padding-left: 0.8rem; }

.pd-r-8 {
  padding-right: 0.8rem; }

.pd-t-8 {
  padding-top: 0.8rem; }

.pd-b-8 {
  padding-bottom: 0.8rem; }

.pd-10 {
  padding: 1rem; }

.pd-l-10 {
  padding-left: 1rem; }

.pd-r-10 {
  padding-right: 1rem; }

.pd-t-10 {
  padding-top: 1rem; }

.pd-b-10 {
  padding-bottom: 1rem; }

.pd-12 {
  padding: 1.2rem; }

.pd-l-12 {
  padding-left: 1.2rem; }

.pd-r-12 {
  padding-right: 1.2rem; }

.pd-t-12 {
  padding-top: 1.2rem; }

.pd-b-12 {
  padding-bottom: 1.2rem; }

.pd-14 {
  padding: 1.4rem; }

.pd-l-14 {
  padding-left: 1.4rem; }

.pd-r-14 {
  padding-right: 1.4rem; }

.pd-t-14 {
  padding-top: 1.4rem; }

.pd-b-14 {
  padding-bottom: 1.4rem; }

.pd-16 {
  padding: 1.6rem; }

.pd-l-16 {
  padding-left: 1.6rem; }

.pd-r-16 {
  padding-right: 1.6rem; }

.pd-t-16 {
  padding-top: 1.6rem; }

.pd-b-16 {
  padding-bottom: 1.6rem; }

.pd-18 {
  padding: 1.8rem; }

.pd-l-18 {
  padding-left: 1.8rem; }

.pd-r-18 {
  padding-right: 1.8rem; }

.pd-t-18 {
  padding-top: 1.8rem; }

.pd-b-18 {
  padding-bottom: 1.8rem; }

.mg-2 {
  margin: 0.2rem; }

.mg-l-2 {
  margin-left: 0.2rem; }

.mg-r-2 {
  margin-right: 0.2rem; }

.mg-t-2 {
  margin-top: 0.2rem; }

.mg-b-2 {
  margin-bottom: 0.2rem; }

.mg-4 {
  margin: 0.4rem; }

.mg-l-4 {
  margin-left: 0.4rem; }

.mg-r-4 {
  margin-right: 0.4rem; }

.mg-t-4 {
  margin-top: 0.4rem; }

.mg-b-4 {
  margin-bottom: 0.4rem; }

.mg-6 {
  margin: 0.6rem; }

.mg-l-6 {
  margin-left: 0.6rem; }

.mg-r-6 {
  margin-right: 0.6rem; }

.mg-t-6 {
  margin-top: 0.6rem; }

.mg-b-6 {
  margin-bottom: 0.6rem; }

.mg-8 {
  margin: 0.8rem; }

.mg-l-8 {
  margin-left: 0.8rem; }

.mg-r-8 {
  margin-right: 0.8rem; }

.mg-t-8 {
  margin-top: 0.8rem; }

.mg-b-8 {
  margin-bottom: 0.8rem; }

.mg-10 {
  margin: 1rem; }

.mg-l-10 {
  margin-left: 1rem; }

.mg-r-10 {
  margin-right: 1rem; }

.mg-t-10 {
  margin-top: 1rem; }

.mg-b-10 {
  margin-bottom: 1rem; }

.mg-12 {
  margin: 1.2rem; }

.mg-l-12 {
  margin-left: 1.2rem; }

.mg-r-12 {
  margin-right: 1.2rem; }

.mg-t-12 {
  margin-top: 1.2rem; }

.mg-b-12 {
  margin-bottom: 1.2rem; }

.mg-14 {
  margin: 1.4rem; }

.mg-l-14 {
  margin-left: 1.4rem; }

.mg-r-14 {
  margin-right: 1.4rem; }

.mg-t-14 {
  margin-top: 1.4rem; }

.mg-b-14 {
  margin-bottom: 1.4rem; }

.mg-16 {
  margin: 1.6rem; }

.mg-l-16 {
  margin-left: 1.6rem; }

.mg-r-16 {
  margin-right: 1.6rem; }

.mg-t-16 {
  margin-top: 1.6rem; }

.mg-b-16 {
  margin-bottom: 1.6rem; }

.mg-18 {
  margin: 1.8rem; }

.mg-l-18 {
  margin-left: 1.8rem; }

.mg-r-18 {
  margin-right: 1.8rem; }

.mg-t-18 {
  margin-top: 1.8rem; }

.mg-b-18 {
  margin-bottom: 1.8rem; }

.txt-align-center {
  text-align: center; }

.txt-align-left {
  text-align: left; }

.txt-align-right {
  text-align: right; }

.txt-fs-02 {
  font-size: 0.2rem; }

.txt-fs-2 {
  font-size: 0.2rem; }

.txt-fs-04 {
  font-size: 0.4rem; }

.txt-fs-4 {
  font-size: 0.4rem; }

.txt-fs-06 {
  font-size: 0.6rem; }

.txt-fs-6 {
  font-size: 0.6rem; }

.txt-fs-08 {
  font-size: 0.8rem; }

.txt-fs-8 {
  font-size: 0.8rem; }

.txt-fs-10 {
  font-size: 1rem; }

.txt-fs-12 {
  font-size: 1.2rem; }

.txt-fs-14 {
  font-size: 1.4rem; }

.txt-fs-16 {
  font-size: 1.6rem; }

.txt-fs-18 {
  font-size: 1.8rem; }

.backdrop-brighten {
  backdrop-filter: brightness(1.1); }

.backdrop-darken {
  backdrop-filter: bvrightness(0.95); }

.width {
  --val: 0rem;
  width: var(--val); }
  .width-4 {
    width: 4%; }
  .width-8 {
    width: 8%; }
  .width-12 {
    width: 12%; }
  .width-16 {
    width: 16%; }
  .width-20 {
    width: 20%; }
  .width-24 {
    width: 24%; }
  .width-28 {
    width: 28%; }
  .width-32 {
    width: 32%; }
  .width-36 {
    width: 36%; }
  .width-40 {
    width: 40%; }
  .width-44 {
    width: 44%; }
  .width-48 {
    width: 48%; }
  .width-52 {
    width: 52%; }
  .width-56 {
    width: 56%; }
  .width-60 {
    width: 60%; }
  .width-64 {
    width: 64%; }
  .width-68 {
    width: 68%; }
  .width-72 {
    width: 72%; }
  .width-76 {
    width: 76%; }
  .width-80 {
    width: 80%; }
  .width-84 {
    width: 84%; }
  .width-88 {
    width: 88%; }
  .width-92 {
    width: 92%; }
  .width-96 {
    width: 96%; }
  .width-100 {
    width: 100%; }
  .width-104 {
    width: 104%; }
  .width-108 {
    width: 108%; }
  .width-112 {
    width: 112%; }
  .width-116 {
    width: 116%; }

.height {
  --val: 0rem;
  width: var(--val); }
  .height-4 {
    width: 4%; }
  .height-8 {
    width: 8%; }
  .height-12 {
    width: 12%; }
  .height-16 {
    width: 16%; }
  .height-20 {
    width: 20%; }
  .height-24 {
    width: 24%; }
  .height-28 {
    width: 28%; }
  .height-32 {
    width: 32%; }
  .height-36 {
    width: 36%; }
  .height-40 {
    width: 40%; }
  .height-44 {
    width: 44%; }
  .height-48 {
    width: 48%; }
  .height-52 {
    width: 52%; }
  .height-56 {
    width: 56%; }
  .height-60 {
    width: 60%; }
  .height-64 {
    width: 64%; }
  .height-68 {
    width: 68%; }
  .height-72 {
    width: 72%; }
  .height-76 {
    width: 76%; }
  .height-80 {
    width: 80%; }
  .height-84 {
    width: 84%; }
  .height-88 {
    width: 88%; }
  .height-92 {
    width: 92%; }
  .height-96 {
    width: 96%; }
  .height-100 {
    width: 100%; }
  .height-104 {
    width: 104%; }
  .height-108 {
    width: 108%; }
  .height-112 {
    width: 112%; }
  .height-116 {
    width: 116%; }

.border-radius-00 {
  border-radius: 0rem; }

.border-radius-0 {
  border-radius: 0rem; }

.border-radius-02 {
  border-radius: 0.2rem; }

.border-radius-2 {
  border-radius: 0.2rem; }

.border-radius-04 {
  border-radius: 0.4rem; }

.border-radius-4 {
  border-radius: 0.4rem; }

.border-radius-06 {
  border-radius: 0.6rem; }

.border-radius-6 {
  border-radius: 0.6rem; }

.border-radius-08 {
  border-radius: 0.8rem; }

.border-radius-8 {
  border-radius: 0.8rem; }

.border-radius-10 {
  border-radius: 1rem; }

.border-radius-12 {
  border-radius: 1.2rem; }

.border-radius-14 {
  border-radius: 1.4rem; }

.border-radius-16 {
  border-radius: 1.6rem; }

.border-radius-18 {
  border-radius: 1.8rem; }

.border-t-00 {
  border-top: 0rem solid; }

.border-b-00 {
  border-bottom: 0rem solid; }

.border-l-00 {
  border-left: 0rem solid; }

.border-r-00 {
  border-right: 0rem solid; }

.border-t-02 {
  border-top: 0.2rem solid; }

.border-b-02 {
  border-bottom: 0.2rem solid; }

.border-l-02 {
  border-left: 0.2rem solid; }

.border-r-02 {
  border-right: 0.2rem solid; }

.border-t-04 {
  border-top: 0.4rem solid; }

.border-b-04 {
  border-bottom: 0.4rem solid; }

.border-l-04 {
  border-left: 0.4rem solid; }

.border-r-04 {
  border-right: 0.4rem solid; }

.border-t-06 {
  border-top: 0.6rem solid; }

.border-b-06 {
  border-bottom: 0.6rem solid; }

.border-l-06 {
  border-left: 0.6rem solid; }

.border-r-06 {
  border-right: 0.6rem solid; }

.border-t-08 {
  border-top: 0.8rem solid; }

.border-b-08 {
  border-bottom: 0.8rem solid; }

.border-l-08 {
  border-left: 0.8rem solid; }

.border-r-08 {
  border-right: 0.8rem solid; }

.border-t-10 {
  border-top: 1rem solid; }

.border-b-10 {
  border-bottom: 1rem solid; }

.border-l-10 {
  border-left: 1rem solid; }

.border-r-10 {
  border-right: 1rem solid; }

.border-t-12 {
  border-top: 1.2rem solid; }

.border-b-12 {
  border-bottom: 1.2rem solid; }

.border-l-12 {
  border-left: 1.2rem solid; }

.border-r-12 {
  border-right: 1.2rem solid; }

.border-t-14 {
  border-top: 1.4rem solid; }

.border-b-14 {
  border-bottom: 1.4rem solid; }

.border-l-14 {
  border-left: 1.4rem solid; }

.border-r-14 {
  border-right: 1.4rem solid; }

.border-t-16 {
  border-top: 1.6rem solid; }

.border-b-16 {
  border-bottom: 1.6rem solid; }

.border-l-16 {
  border-left: 1.6rem solid; }

.border-r-16 {
  border-right: 1.6rem solid; }

.border-t-18 {
  border-top: 1.8rem solid; }

.border-b-18 {
  border-bottom: 1.8rem solid; }

.border-l-18 {
  border-left: 1.8rem solid; }

.border-r-18 {
  border-right: 1.8rem solid; }

.border-color-theme {
  border-color: #00A676; }

.border-color-accent {
  border-color: #1D1618; }

.border-color-background {
  border-color: #0e0b0c; }

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: sticky;
  flex-direction: row;
  flex-wrap: wrap;
  top: 0;
  margin: 0;
  min-height: 4rem;
  max-width: 100vw;
  background-color: #00A676;
  color: white;
  z-index: 1000; }
  nav.nav-top ul {
    flex-direction: row; }
  nav.nav-side {
    position: fixed;
    left: 0;
    bottom: 0;
    max-height: 100%;
    flex-direction: column; }
    nav.nav-side ul {
      flex-direction: column; }
      nav.nav-side ul > li > ul {
        top: -4rem;
        left: 10rem; }
  nav > ul,
  nav ul > li > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 1rem; }
    nav > ul li,
    nav ul > li > ul li {
      position: relative;
      height: 4rem;
      width: 10rem;
      max-width: 14rem; }
      nav > ul li > ul,
      nav ul > li > ul li > ul {
        position: relative;
        top: .0rem;
        flex-direction: column;
        display: none;
        transition: all 0.2s ease;
        opacity: 0; }
        nav > ul li > ul > li > ul,
        nav ul > li > ul li > ul > li > ul {
          top: calc(-1*4rem);
          left: 10rem; }
      nav > ul li:hover > ul,
      nav ul > li > ul li:hover > ul {
        display: flex;
        animation: nav-dropdown forwards .2s;
        transition: all 0.2s ease; }
      nav > ul li a,
      nav ul > li > ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 0.2rem; }
        nav > ul li a p,
        nav ul > li > ul li a p {
          font-size: 1.2rem; }
  nav .nav-siteinfo {
    display: flex;
    min-height: 4rem;
    width: 4rem; }
  nav .nav-hide-desktop, nav a.nav-hamburger {
    display: none; }
  nav a.nav-hamburger {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: .4rem;
    right: .4rem;
    width: 3rem;
    height: 3rem;
    border-radius: 0.2rem;
    color: white;
    backdrop-filter: brightness(1.5);
    -webkit-backdrop-filter: brightness(1.5);
    text-decoration: none;
    transition: all 0.2s ease;
    z-index: 1000; }
    nav a.nav-hamburger::before {
      border: none; }
    nav a.nav-hamburger:hover::before {
      border: none; }

@media only screen and (max-width: 992px) {
  nav.nav-side {
    position: sticky;
    left: unset;
    bottom: unset;
    top: 0;
    flex-direction: row; }
    nav.nav-side > .nav-siteinfo {
      height: max-content; }
    nav.nav-side > ul > li > ul {
      top: 0px;
      left: 0px; }
  nav > .nav-siteinfo {
    width: 100vw;
    height: 100%;
    justify-content: center;
    text-align: center; }
  nav > ul {
    flex-direction: column;
    justify-content: flex-start;
    width: 0px;
    height: 0px;
    transition: 0s;
    scale: 0;
    width: 90%; }
    nav > ul > li {
      height: 0;
      overflow: hidden;
      transition: all 0.2s ease; }
      nav > ul > li > a {
        height: 2rem;
        justify-content: flex-start; }
      nav > ul > li > ul {
        display: flex;
        height: max-content;
        opacity: 1;
        padding-left: 2rem; }
        nav > ul > li > ul > li {
          max-width: 100rem;
          width: 100%;
          height: 2rem; }
          nav > ul > li > ul > li a {
            display: flex;
            justify-content: flex-start; }
            nav > ul > li > ul > li a > * {
              font-size: .8rem; }
    nav > ul[open] {
      flex-direction: column;
      justify-content: flex-start;
      animation: nav-open .2s forwards;
      width: 90%;
      scale: 1;
      opacity: 1;
      padding-bottom: 1rem; }
      nav > ul[open] > li {
        max-width: 100%;
        height: max-content;
        width: 100vw;
        text-align: center;
        overflow: hidden; }
  nav a.nav-hamburger {
    position: fixed; }
  nav a.nav-hamburger[pressed] {
    transition: all .4s ease;
    justify-content: center;
    transform: rotate(180deg); }
    nav a.nav-hamburger[pressed]::before {
      border: none; }
    nav a.nav-hamburger[pressed]:hover::before {
      border: none; }
  nav .nav-hide-desktop, nav a.nav-hamburger {
    display: flex; } }

@keyframes nav-dropdown {
  0% {
    display: flex;
    opacity: 0; }
  100% {
    opacity: 100%; } }

@keyframes nav-open {
  0% {
    height: 0px; }
  100% {
    height: 100%; } }

/* COLORS */
/* COMPONENTS */
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #0e0b0c;
  overflow-x: none;
  color: #d8d8d8; }

blockquote {
  background-color: #0e0b0c;
  padding: .5rem 2rem;
  margin: 1rem 0;
  border-left: 0.5rem solid #00A676;
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.3rem 0.2rem #818181;
  transition: all 0.2s ease; }
  blockquote::before {
    content: '"\A';
    font-family: 'Secular One', sans-serif;
    font-size: 2rem;
    display: block;
    height: 2rem; }
  blockquote::after {
    content: '\A"';
    font-family: 'Secular One', sans-serif;
    font-size: 2rem;
    display: block;
    text-align: right;
    height: 1.5rem; }
  blockquote:hover {
    box-shadow: 0.1rem 0.3rem 0.5rem #818181; }

p {
  line-height: 1.6rem;
  margin: .4rem 0rem; }

hr {
  border: none;
  border-top: .2rem solid;
  width: 100%;
  margin: 0; }

img {
  object-fit: cover; }

/* COLORS */
/* COMPONENTS */
h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: .4rem 0;
  width: fit-content; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.3rem; }

/* COLORS */
/* COMPONENTS */
label {
  display: block;
  margin: .4rem 0rem 0rem 0rem;
  padding-top: 1rem; }

form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem; }

input {
  display: block;
  height: 2.2rem;
  outline: none;
  color: white;
  font-size: 1rem;
  border-radius: .2rem;
  padding-left: 1rem;
  border: none; }
  input:focus {
    border-top: 0.2rem solid #00A676;
    transition: all .2s ease; }
  input[type='submit'] {
    margin-top: 1rem;
    width: 100%;
    border: none;
    background-color: #00A676; }
  input[type='radio'], input[type='checkbox'] {
    display: inline;
    width: initial;
    height: 1rem; }
  input:checked {
    border: 0.2rem solid #00A676; }

select {
  display: block;
  color: white;
  border-radius: 0.2rem;
  outline: none;
  width: 100%;
  height: 2rem;
  padding-left: 1rem; }
  select:focus {
    border-top: 0.2rem solid #00A676;
    transition: all .2s ease; }
  select option {
    color: white;
    height: 2rem; }

textarea {
  color: white;
  font-size: 1rem;
  line-height: 1.8rem;
  font-family: sans-serif;
  padding-left: 1rem;
  outline: none;
  border: .2rem solid transparent;
  border-radius: 0.2rem; }
  textarea:focus {
    outline: none;
    border: 0.2rem solid #00A676;
    border-radius: 0.2rem; }

/* COLORS */
/* COMPONENTS */
.featurebox {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem; }
  .featurebox .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.2rem;
    width: 20%; }
    @media screen and (max-width: 320px) {
      .featurebox .feature {
        width: 100%; } }
    @media screen and (max-width: 576px) {
      .featurebox .feature {
        width: 100%; } }
    @media screen and (max-width: 768px) {
      .featurebox .feature {
        width: 100%; } }
    @media screen and (max-width: 992px) {
      .featurebox .feature {
        width: 100%; } }
    @media screen and (max-width: 1200px) {
      .featurebox .feature {
        width: 100%; } }
    .featurebox .feature img {
      width: 14rem; }
    .featurebox .feature i.bx {
      width: 14rem;
      font-size: 14rem; }
    .featurebox .feature hr {
      border: none;
      border-top: 0.15rem solid;
      border-radius: 0.2rem;
      width: 95%; }
    .featurebox .feature h1, .featurebox .feature h2, .featurebox .feature h3, .featurebox .feature h4, .featurebox .feature h5, .featurebox .feature h6 {
      text-align: center; }
    .featurebox .feature p {
      text-align: center;
      font-size: 1.2rem; }

/* COLORS */
/* COMPONENTS */
a {
  color: #00A676;
  text-decoration: none;
  position: relative;
  width: max-content;
  line-height: 1.6rem;
  font-weight: 600; }
  a:before {
    content: '';
    position: absolute;
    border-bottom: .15rem solid;
    width: 0%;
    bottom: 0px;
    transition: all 0.2s ease; }
  a:hover:before {
    transition: all 0.2s ease;
    width: 100%; }

button {
  border: .2rem solid transparent;
  border-radius: 0.2rem;
  text-align: center;
  padding: 1rem 2rem;
  margin: .4rem;
  font-weight: 600;
  color: #00A676; }
  button:hover {
    border: 0.2rem solid #00A676;
    border-radius: 0.4rem;
    transition: all 0.2s ease; }

/* COLORS */
/* COMPONENTS */
.banner {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 2rem;
  font-size: 1.2rem;
  text-align: center;
  z-index: 1000; }
  .banner > * {
    margin: 0; }

/* COLORS */
/* COMPONENTS */
.masthead,
.carousel {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 20rem; }
  .masthead img,
  .masthead .carousel-item > img,
  .carousel img,
  .carousel .carousel-item > img {
    width: 100vw;
    height: 20rem;
    object-fit: cover; }
  .masthead .carousel-item,
  .carousel .carousel-item {
    position: absolute;
    height: max-content; }
  .masthead .masthead-content,
  .masthead .carousel-item > .carousel-content,
  .carousel .masthead-content,
  .carousel .carousel-item > .carousel-content {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    width: 30rem;
    height: fit-content;
    margin-top: 0;
    margin-left: -15rem;
    text-align: center; }

.carousel-item {
  display: none; }
  .carousel-item.active {
    display: flex; }
  .carousel-item.slide-in {
    animation: slide forwards 1s; }
  .carousel-item.slide-out {
    animation: slide-out forwards 1s; }

@keyframes slide {
  0% {
    left: -100vw; }
  100% {
    left: 0; } }

@keyframes slide-out {
  0% {
    left: 0; }
  100% {
    left: 100vw; } }

/* COLORS */
/* COMPONENTS */
article,
section {
  margin: 2rem;
  padding: 0; }

::-webkit-scrollbar {
  width: .4rem; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem; }

::-webkit-scrollbar-thumb:hover {
  background: #555; }

/* COLORS */
/* COMPONENTS */
footer {
  background-color: #00A676;
  padding: 2rem 0rem; }
