{%extends 'base.njk'%}

{%block body%}
<div class="container-11">
    <div class="row">
        <div class="col-12 flex-ai-center">
            <h1>Atherdev - EVE Online Tools</h1>
            <p>On this page you can find a collection of tools I made for the online Space MMO EVE Online.</p>
        </div>
    </div>

    
</div>
{%endblock%}