/* COLORS */
/* COMPONENTS */
.masthead,
.carousel {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 20rem; }
  .masthead img,
  .masthead .carousel-item > img,
  .carousel img,
  .carousel .carousel-item > img {
    width: 100vw;
    height: 20rem;
    object-fit: cover; }
  .masthead .carousel-item,
  .carousel .carousel-item {
    position: absolute;
    height: max-content; }
  .masthead .masthead-content,
  .masthead .carousel-item > .carousel-content,
  .carousel .masthead-content,
  .carousel .carousel-item > .carousel-content {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    width: 30rem;
    height: fit-content;
    margin-top: 0;
    margin-left: -15rem;
    text-align: center; }

.carousel-item {
  display: none; }
  .carousel-item.active {
    display: flex; }
  .carousel-item.slide-in {
    animation: slide forwards 1s; }
  .carousel-item.slide-out {
    animation: slide-out forwards 1s; }

@keyframes slide {
  0% {
    left: -100vw; }
  100% {
    left: 0; } }

@keyframes slide-out {
  0% {
    left: 0; }
  100% {
    left: 100vw; } }
