{%extends '../base.njk'%}

{%block body%}
<div class="container-11">
    <div class="row">
        <div class="col-12 flex-ai-center">
            <h1>Work In Progress!</h1>
            <p>For now, use the search box in the navbar!</p>
        </div>
    </div>
</div>
{%endblock%}