name: Node.js CI

on:
  push:
    branches: [ master ]
    
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - run: |
          git clone https://github.com/AtherActive-net/deploy-client.git
          cd deploy-client
          npm i
          node dist/app.js ${{ vars.PROJECT }} main ${{ vars.REPOCLONEURL }} ${{ secrets.TOKEN }} "{}"
